
<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<%= form_tag search_path, :method => 'get', remote: true, :id => "form1" do %>
  <p>
    <%= text_field_tag :search, params[:search], onkeyup: "$('#form1').submit();" %>
  </p>
  <div id="results"><%= render 'results' %></div>
<% end %>


<%= link_to 'New Course', new_course_path %>