<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class=" navbar-brand" href ="/" id="logo"> Course Catalog</a >
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li > <%= link_to current_user.name, user_path(id: current_user.id) %> </li >
          <li><%= link_to "Instructors", instructors_path %></li>
          <li><%= link_to "Subjects", subjects_path %></li>
          <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "Search", search_path %></li>
          <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header> 


